@charset "UTF-8";
/* CSS Document */
body {
  background-image: url(graphics/vapor.jpg);
}
.heading {background-color:red;
	text-align:center;
	color:white;
}
.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 20px;
}